In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Set some Pandas options
pd.set_option('notebook_repr_html', False)
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)

#### Read the csv

In [2]:
df=pd.read_csv('../data/data.csv',encoding= 'unicode_escape')
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

#### Show 10 rows of the dataframe

In [3]:
df1=df.head(10)
print(df1)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
5  12/1/2010 8:26       7.65     17850.0  United Kingdom
6  12/1/2010 8:26       4.25     17850.0  United Kingdom
7  12/1/2010 8:28       1.85     17850.0  United Kingdom
8  12/1/2010 8:28       1.85     17850.0  United Kingdom
9  12/1/2010 8:34       1.69     13047.0  United Kingdom

#### What is the shape of the data (rows and columns)

In [4]:
print(df.shape)

(541909, 8)

#### Are there issues with the data

Is there missing data

# yes the dataframe has missing data
# missing data in both rows and columns

### https://thispointer.com/python-pandas-count-number-of-nan-or-missing-values-in-dataframe-also-row-column-wise/

In [5]:
df2=df.isnull().sum().sum()
print(df2)
# df with total number of rows and columns with missing data

136534

How many rows have missing data

# To find the total rows with missing data
### https://www.skytowner.com/explore/counting_number_of_rows_with_missing_value_in_pandas_dataframe

In [6]:
print(df.shape)

(541909, 8)

In [7]:
df.isna().any(axis=1).sum()
# total number of rows with missing data

135080

df3=df.isnull().values.ravel()
print(df3)
print(df3.shape)

df4=df.notnull().values.ravel()
print(df4)
print(df4.shape)

What is the percentage of missing data

In [8]:
perc=df2/len(df) * 100
print(perc)

25.195005065426113

Show rows of missing data

In [ ]:
#Showing the rows with null data in atleast one row

In [10]:
null_data = df[df.isnull().any(axis=1)]
print(null_data)

       InvoiceNo StockCode                      Description  Quantity  \
622       536414     22139                              NaN        56
1443      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445      536544     21786               POLKADOT RAIN HAT          4
1446      536544     21787            RAIN PONCHO RETROSPOT         2
...          ...       ...                              ...       ...
541536    581498    85099B          JUMBO BAG RED RETROSPOT         5
541537    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
541538    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
541539    581498     85174                S/4 CACTI CANDLES         1
541540    581498       DOT                   DOTCOM POSTAGE         1

            InvoiceDate  UnitPrice  CustomerID         Country
622     12/1/2010 11:52       0.00         NaN  United Kingdom
1443    12/1/2010 14:32       2.51         NaN  United Kingdom
1444    12/1/2010 14:32       2.51         NaN  United Kingdom
1445    12/1/2010 14:32       0.85         NaN  United Kingdom
1446    12/1/2010 14:32       1.66         NaN  United Kingdom
...                 ...        ...         ...             ...
541536  12/9/2011 10:26       4.13         NaN  United Kingdom
541537  12/9/2011 10:26       4.13         NaN  United Kingdom
541538  12/9/2011 10:26       4.96         NaN  United Kingdom
541539  12/9/2011 10:26      10.79         NaN  United Kingdom
541540  12/9/2011 10:26    1714.17         NaN  United Kingdom

[135080 rows x 8 columns]

In [ ]:
# #df3 = df2.dropna(how='all').dropna(how='all', axis=1)
# df3=df.isnull().values.ravel()
# print(df3)
# df3.shape

#### Give the number of transactions by country

- Index value counts in python
-- https://www.geeksforgeeks.org/python-pandas-index-value_counts/#:~:text=value_counts()%20function%20returns%20object,Excludes%20NA%20values%20by%20default.

In [12]:
no=df.Country.value_counts()
print(no)

United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
                   ...
Lithuania             35
Brazil                32
Czech Republic        30
Bahrain               19
Saudi Arabia          10
Name: Country, Length: 38, dtype: int64

In [23]:
invoice = df.InvoiceNo.value_counts()
print(invoice)

573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
554023        1
554022        1
554021        1
554020        1
C558901       1
Name: InvoiceNo, Length: 25900, dtype: int64

#### Find the highest valued item in the transactions

- https://www.geeksforgeeks.org/find-maximum-values-position-in-columns-and-rows-of-a-dataframe-in-pandas/#:~:text=To%20find%20the%20maximum%20value%20of%20each%20row%2C%20call%20the,with%20an%20argument%20axis%20%3D%201.

In [14]:
max = df.UnitPrice.max(skipna = False)
print(max)
# highest valued item in the Unit Price column is 38970.0

38970.0

#### Which customer had the highest number of transactions

In [20]:
cust = df.CustomerID.value_counts()
print(cust)

max_value1 = cust.max()

17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
15070.0       1
15753.0       1
17065.0       1
16881.0       1
16995.0       1
Name: CustomerID, Length: 4372, dtype: int64

In [21]:
print(max_value1)

#customer ID 17841.0 has highest number of transactions

7983

#### Which customers bought `KNITTED UNION FLAG HOT WATER BOTTLE`

In [26]:
print(df['Description'] == 'KNITTED UNION FLAG HOT WATER BOTTLE')

0         False
1         False
2         False
3          True
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: Description, Length: 541909, dtype: bool

#### Show customers who bought `KNITTED UNION FLAG HOT WATER BOTTLE` and `CREAM CUPID HEARTS COAT HANGER`