# ASSIGNMENT 1

### Using csv package to read the file into a list

In [1]:
import csv

# To Read csv File as a List


## https://docs.python.org/3/library/csv.html#csv.reader

In [2]:
with open('../data/fall-22-students.tsv') as x: # loading the file as 'x' and 'x' is the csv data file
    data_set = csv.reader(x) # csv file to be loaded in the reader
    students_list = list(data_set)

In [3]:
print(students_list)
#printed the given datafile as a list

[['Student\tHash'], ['Annamalai', ' Varsha\t2732727504348557328'], ['Arasikere Rakesh', ' Raveena\t2715387848376511785'], ['Budavi', ' Priyanka\t609722887760680710'], ['Darandale', ' Aditi\t-3592947821904789059'], ['Doerr', ' Maximilian\t-241870194234947188'], ['Farahani', ' Parisa\t-782669854885580552'], ['Gabbula', ' Sai Ram Ajay Krishna\t3430638400286662722'], ['Gabbula', ' Venkata Vijay Krishna\t2274622967677883996'], ['Gunde', ' Deeksha\t4069553384325267097'], ['Kallem', ' Snehith\t296389889114347009'], ['Kuluri', ' Manichandana\t-9113492615128308341'], ['Nimmaturi', ' Sai Swapnika\t8871653806563935680'], ['Potlapally', ' Shruti Nandana\t6680005440180066297'], ['Shah', ' Manish\t4333100139881963958'], ['Shou', ' Wenhao\t2262113024811264944'], ['Veeramaneni', ' Varsha\t-1090991306239913969'], ['Vidapu', ' Aman Tej\t7347350608443768573'], ['Abisiga', ' Mojeed\t1756748071387330450'], ['Gayam', ' Sai Santosh Reddy\t-2863333019251892158'], ['Havalchi', ' Mufaddal\t5556700921407775642'], ['Nezianya', ' Ndubuisi\t-1868760087748791974'], ['Patil', ' Deeksha\t7980120123048414705'], ['Teri', ' Benjamin\t8158995515482271942']]

# Removing Paricular Object From the List

### https://www.geeksforgeeks.org/python-list-remove/

In [4]:
students_list.remove(students_list[0])
# removing the first row as it is just column names
print(students_list) # printing the list after removing unwanted data

[['Annamalai', ' Varsha\t2732727504348557328'], ['Arasikere Rakesh', ' Raveena\t2715387848376511785'], ['Budavi', ' Priyanka\t609722887760680710'], ['Darandale', ' Aditi\t-3592947821904789059'], ['Doerr', ' Maximilian\t-241870194234947188'], ['Farahani', ' Parisa\t-782669854885580552'], ['Gabbula', ' Sai Ram Ajay Krishna\t3430638400286662722'], ['Gabbula', ' Venkata Vijay Krishna\t2274622967677883996'], ['Gunde', ' Deeksha\t4069553384325267097'], ['Kallem', ' Snehith\t296389889114347009'], ['Kuluri', ' Manichandana\t-9113492615128308341'], ['Nimmaturi', ' Sai Swapnika\t8871653806563935680'], ['Potlapally', ' Shruti Nandana\t6680005440180066297'], ['Shah', ' Manish\t4333100139881963958'], ['Shou', ' Wenhao\t2262113024811264944'], ['Veeramaneni', ' Varsha\t-1090991306239913969'], ['Vidapu', ' Aman Tej\t7347350608443768573'], ['Abisiga', ' Mojeed\t1756748071387330450'], ['Gayam', ' Sai Santosh Reddy\t-2863333019251892158'], ['Havalchi', ' Mufaddal\t5556700921407775642'], ['Nezianya', ' Ndubuisi\t-1868760087748791974'], ['Patil', ' Deeksha\t7980120123048414705'], ['Teri', ' Benjamin\t8158995515482271942']]

In [5]:
students=len(students_list)
print(students)
#total list of students in the file is 23

23

## Generating teams based on the number of teams provided as a variable.

In [6]:
team=int(input('Pick the team size as per requirement :'))

Pick the team size as per requirement :4

In [7]:
count=1
team_no=1
# providing the initial values to 1 so that we can print the output in order from '1'

#### Using Random Library

### https://www.cs.swarthmore.edu/~adanner/cs21/f09/randomlib.php#:~:text=To%20get%20access%20to%20the,get%20different%20(random)%20results.

In [8]:
from random import *

In [9]:
# I use a while loop to execute the below code recursively and remove the student name from the list once it is printed
#Instead of the 'while' loop we can also implement 'for' loop
# 'team' value is equal to the input given by the user
# for the given data [students=23] (total 23 students in the list)
#while loop is executed 23 times as the list has 23 students in it and after each iteration 'i' value is incremented by 1
i=0
while i<students:
    i=i+1
#for i in range(0, students):
# if the input variable given is more than the students list then there is no need for teams formation and all students will be in the same group and the loop breaks
    
    
    if team > students:
        print('All students will be in the same group as the group count is more than the available students')
# count value is increased by '1' after each iteration and if the value is more than the input then we reset the count to '1'
    
    
    if count > team:
        count=1
        team_no+=1
# Initially the count value is one and we start by printing the team number
    
    
    if count == 1: #printing the team number dynamically starting from 1.
        print(" Team no: %d" % team_no)
    #random_no=random.randint(0,22)
# Used the randint from random package to randomly pick a student from the list
    
    random_no=randint(0,len(students_list)-1)
    print(random_no, students_list[random_no])
#After printing the student name randomly we remove it from the original list to avoid repeating the same student name
    
    
    students_list.remove(students_list[random_no])
#Groups will be formed in random as per the variable input given
#and in the end if more students are not available to form a group , these students are grouped in the last group
    
    
    
    if len(students_list)>=team:
        count+=1
#count value is increased by '1' as the teams are forming
# the above said count value is reset to '1' as new teams are printing in random

 Team no: 1
4 ['Doerr', ' Maximilian\t-241870194234947188']
3 ['Darandale', ' Aditi\t-3592947821904789059']
17 ['Havalchi', ' Mufaddal\t5556700921407775642']
9 ['Nimmaturi', ' Sai Swapnika\t8871653806563935680']
 Team no: 2
7 ['Kallem', ' Snehith\t296389889114347009']
9 ['Shah', ' Manish\t4333100139881963958']
5 ['Gabbula', ' Venkata Vijay Krishna\t2274622967677883996']
6 ['Kuluri', ' Manichandana\t-9113492615128308341']
 Team no: 3
10 ['Abisiga', ' Mojeed\t1756748071387330450']
2 ['Budavi', ' Priyanka\t609722887760680710']
11 ['Patil', ' Deeksha\t7980120123048414705']
0 ['Annamalai', ' Varsha\t2732727504348557328']
 Team no: 4
8 ['Gayam', ' Sai Santosh Reddy\t-2863333019251892158']
0 ['Arasikere Rakesh', ' Raveena\t2715387848376511785']
1 ['Gabbula', ' Sai Ram Ajay Krishna\t3430638400286662722']
1 ['Gunde', ' Deeksha\t4069553384325267097']
 Team no: 5
5 ['Nezianya', ' Ndubuisi\t-1868760087748791974']
3 ['Veeramaneni', ' Varsha\t-1090991306239913969']
3 ['Vidapu', ' Aman Tej\t7347350608443768573']
0 ['Farahani', ' Parisa\t-782669854885580552']
1 ['Shou', ' Wenhao\t2262113024811264944']
1 ['Teri', ' Benjamin\t8158995515482271942']
0 ['Potlapally', ' Shruti Nandana\t6680005440180066297']